<form (ngSubmit)="onSubmit()" class="example-card" autocomplete="off">
<mat-horizontal-stepper class="example-form" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="clienteFormGroup" [formGroup]="clienteFormGroup">
      <ng-template matStepLabel>Datos del Cliente</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Ej. C0001" formControlName="codigo" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cédula</mat-label>
        <input matInput placeholder="Ej. 0705114777" formControlName="cedula" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Primer Nombre</mat-label>
        <input matInput placeholder="Ej. Carlos" formControlName="primer_nombre" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Segundo Nombre</mat-label>
        <input matInput placeholder="Ej. Luis" formControlName="segundo_nombre">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Primer Apellido</mat-label>
        <input matInput placeholder="Ej. Cerezo" formControlName="primer_apellido" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput placeholder="Ej. Romero" formControlName="segundo_apellido">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ej. ccerezo90@gmail.com" formControlName="correo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Ej. 0994898989" formControlName="celular" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fecha de Cumpleaños</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="cumpleanos">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <button mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
  </mat-step>

  <mat-step [stepControl]="direccionFormGroup" [formGroup]="direccionFormGroup" label="Dirección">
      <mat-form-field class="example-full-width">
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="provincia_id">
          <mat-option *ngFor="let p of provincias"  [value]="p.id">{{p.provincia}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="ciudad_id">
          <mat-option *ngFor="let c of ciudades"  [value]="c.id">{{c.canton}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Parroquia</mat-label>
        <mat-select formControlName="parroquia_id">
          <mat-option *ngFor="let pa of parroquias"  [value]="pa.id">{{pa.parroquia}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Dirección domiciliaria</mat-label>
        <input matInput placeholder="Ej. Cerezo" formControlName="direccion_domiciliaria" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Dirección Oficina</mat-label>
        <input matInput placeholder="Ej. Romero" formControlName="direccion_oficina">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Ej. 09455454545" formControlName="telefono_convencional">
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button matStepperPrevious>Regresar</button>
        <button mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
  </mat-step>

  <mat-step [stepControl]="parentescoFormGroup" [formGroup]="parentescoFormGroup" label="Parentesco Familiar">
      <mat-form-field class="example-full-width">
        <mat-label>Tipo Parentesco</mat-label>
        <input matInput placeholder="Ej. C0001" formControlName="tipo_parentesco" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Primer Nombre</mat-label>
        <input matInput placeholder="Ej. Carlos" formControlName="primer_nombre_parentesco" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Segundo Nombre</mat-label>
        <input matInput placeholder="Ej. Luis" formControlName="segundo_nombre_parentesco">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Primer Apellido</mat-label>
        <input matInput placeholder="Ej. Cerezo" formControlName="primer_apellido_parentesco" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput placeholder="Ej. Romero" formControlName="segundo_apellido_parentesco">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Ej. 09455454545" formControlName="celular_parentesco" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fecha de Cumpleaños</mat-label>
        <input matInput [matDatepicker]="picker_parentesco">
        <mat-datepicker-toggle matSuffix [for]="picker_parentesco"></mat-datepicker-toggle>
        <mat-datepicker #picker_parentesco></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button matStepperPrevious>Regresar</button>
        <button mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>Estas listo para guardar los cambios.</p>
    <div>
      <button mat-button mat-raised-button matStepperPrevious>Regresar</button>
      <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
      <button mat-raised-button color="primary" (click)="done()" type="submit">GUARDAR</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</form>

