<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="h5 mb-0 text-gray-800">Registar de Cliente Empresarial</h1>
</div>
<div class="row">
  <div class="col-xl-12 mb-2">
    <form *ngIf="!id" (ngSubmit)="onSubmit()" novalidate [formGroup]="clienteFormGroup">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              Datos de la Empresa
            </mat-list-item>
              <div class="form-row">
                <mat-form-field class="col-md-4">
                  <mat-label>Código</mat-label>
                  <input matInput placeholder="Ej. EMP0001" formControlName="codigo" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>RUC</mat-label>
                  <input matInput placeholder="Ej. 099999999001" formControlName="ruc" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Nombre de la Empresa</mat-label>
                  <input matInput placeholder="Ej. Sistagua" formControlName="nombres" required>
                </mat-form-field>
              </div>
              <div class="form-row mb-2">
                <mat-form-field class="col-md-4">
                  <mat-label>Dirección Principal</mat-label>
                  <input matInput placeholder="Ej. Pasaje" formControlName="direccion">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="Ej. 0994898148" formControlName="telefono" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Correo</mat-label>
                  <input matInput placeholder="Ej. empresa@gmail.com" formControlName="correo">
                </mat-form-field>
              </div>
            <mat-divider></mat-divider>
            <mat-list-item>
              Direcciones
            </mat-list-item>
            <div formGroupName="direccionFormGroup">

              <mat-chip-list *ngIf="direccionEmpresarialArray.length > 0">
                <mat-chip *ngFor="let item of direccionEmpresarialArray">
                  {{ item.nombre_provincia }}/{{ item.nombre_ciudad }}/{{ item.nombre_parroquia }} - {{ item.direccion }}
                </mat-chip>
              </mat-chip-list>

              <div class="form-row mb-2">
                <mat-form-field class="col-md-4">
                  <mat-label>Provincia</mat-label>
                  <mat-select formControlName="fk_provincia">
                    <mat-option *ngFor="let p of provincias" [value]="p.id">{{p.provincia}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Ciudad</mat-label>
                  <mat-select formControlName="fk_canton">
                    <mat-option *ngFor="let c of ciudades"  [value]="c.id">{{c.canton}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Parroquia</mat-label>
                  <mat-select formControlName="fk_parroquia">
                    <mat-option *ngFor="let pa of parroquias"  [value]="pa.id">{{pa.parroquia}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Sector</mat-label>
                  <input matInput placeholder="Ej. Norte" formControlName="sector" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Dirección</mat-label>
                  <input matInput placeholder="Ej. Machala" formControlName="direccion" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Telefóno</mat-label>
                  <input matInput placeholder="Ej. 072973231" formControlName="telefono_convencional">
                </mat-form-field>
                <div class="col-md-12 text-right">
                  <button type="button" mat-stroked-button color="primary" (click)="registarDirecciones()">Registrar Dirección</button>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-list-item>
              Contáctos
            </mat-list-item>
            <div formGroupName="cargosFormGroup">
              <mat-chip-list *ngIf="cargoEmpresarialArray.length > 0">
                <mat-chip *ngFor="let item of cargoEmpresarialArray">
                  {{ item.nombre_tipo_cargo }} - {{ item.nombres }} {{ item.apellidos }} - Cel: {{ item.celular }}
                </mat-chip>
              </mat-chip-list>
              <div class="form-row mb-2">
                <mat-form-field class="col-md-4">
                  <mat-label>Cargo</mat-label>
                  <mat-select formControlName="fk_tipo_cargo">
                    <mat-option *ngFor="let item of tipoCargo"  [value]="item.id">{{item.tipo}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Apellidos</mat-label>
                  <input matInput placeholder="Ej. Romero" formControlName="apellidos" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Nombres</mat-label>
                  <input matInput placeholder="Ej. Luis" formControlName="nombres" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Celular</mat-label>
                  <input matInput placeholder="Ej. 0994898148" formControlName="celular" required>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Correo</mat-label>
                  <input matInput placeholder="Ej. correo@gmail.com" formControlName="correo">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Fecha de Cumpleaños</mat-label>
                  <input matInput [matDatepicker]="picker_cumple" formControlName="cumple">
                  <mat-datepicker-toggle matSuffix [for]="picker_cumple"></mat-datepicker-toggle>
                  <mat-datepicker #picker_cumple></mat-datepicker>
                </mat-form-field>
                <div class="col-md-12 text-right">
                  <button type="button" mat-stroked-button color="primary" (click)="registarContactos()">Registrar Contácto</button>
                </div>
              </div>
            </div>
          </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <button routerLink="/clientes/clientes-empresarial-lista" mat-raised-button class="mt-3 mr-2 pr-4 pl-4">
          Regresar
        </button>
        <button mat-raised-button color="primary" [disabled]="!clienteFormGroup.valid" class="mt-3 pr-5 pl-5" type="submit">GUARDAR</button>
      </mat-card>
    </form>
    <mat-card *ngIf="id > 0">
      <mat-card-header>
        <mat-card-title>Datos de la Empresa</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>SIATAGUA</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>RUC: 0705114775</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Dirección: Pasaje</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Tlfn: 099489848</mat-list-item>
        </mat-list>
      </mat-card-content>
      <button class="mt-2" mat-raised-button color="primary" (click)="editarEmpresa()">Editar datos de la Empresa</button>
    </mat-card>
    <button *ngIf="id > 0" class="mt-2" mat-raised-button color="primary">Agregar Dirección de Oficina</button>
  </div>
</div>



