<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="h5 mb-0 text-gray-800">Contáctos de Cliente Empresarial
    <span *ngIf="notification" class="elementToFadeInAndOut">
      <i class="fas fa-check-circle {{notification.class}}"></i>
      {{notification.message}}
    </span>
  </h1>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="addContactoForm()">
    <i class="fas fa-plus-circle fa-sm text-white-50"></i> Nuevo Contácto
  </button>
</div>

<div class="row">
  <form autocomplete="off" class="col-md-4 mt-3" *ngFor="let fg of contactos(); let i=index" [formGroup]="fg">
    <mat-card>
      <mat-form-field class="example-full-width">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="fkTipoCargo" required >
          <mat-option *ngFor="let item of tipos_cargos"  [value]="item.id">{{item.tipo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Ej. Cevallos" formControlName="apellidos" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Ej. Luis" formControlName="nombres" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Ej. 0994898148" formControlName="celular" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ej. correo@gmail.com" formControlName="correo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Cumpleaños</mat-label>
        <input matInput [matDatepicker]="picker_cumple" formControlName="cumple">
        <mat-datepicker-toggle matSuffix [for]="picker_cumple"></mat-datepicker-toggle>
        <mat-datepicker #picker_cumple></mat-datepicker>
      </mat-form-field>

      <div class="example-full-width">
        <button class="btn btn-light"
                [disabled]="fg.invalid" (click)="recordSubmit(fg)"
                [ngClass]="(fg.get('id')?.value == 0) ? 'text-success': 'text-info'">
          <i *ngIf="fg.get('id')?.value == 0" class="far fa-save fa-lg"></i>
          <i *ngIf="fg.get('id')?.value > 0" class="far fa-edit fa-lg"></i>
        </button>

        <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id')?.value,fg.get('fkCargo')?.value,i)">
          <i class="far fa-trash-alt fa-lg text-danger"></i>
        </button>
      </div>


    </mat-card>
  </form>
</div>

<button routerLink="/clientes/clientes-empresarial-lista" mat-raised-button class="mt-3 mr-2 pr-4 pl-4">
  Regresar
</button>
