<form (ngSubmit)="onSubmit()" [formGroup]="accesorioFormGroup" novalidate>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="accesorioFormGroup.get('id')?.value > 0">Editar Accesorio</mat-card-title>
    <mat-card-title *ngIf="!accesorioFormGroup.get('id')?.value">Nuevo Accesorio</mat-card-title>
  </mat-card-header>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre de Accesorio</mat-label>
    <input matInput placeholder="Ej. Membrana" formControlName="nombre" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Descripción de Accesorio</mat-label>
    <input matInput placeholder="Ej. sirva para cambiar filtro" formControlName="descripcion">
  </mat-form-field>
  <button routerLink="/accesorios/accesorio-lista" mat-raised-button>
    Regresar
  </button>
  <button *ngIf="accesorioFormGroup.get('id')?.value > 0" mat-raised-button color="primary" [disabled]="!accesorioFormGroup.valid" type="submit">ACTUALIZAR</button>
  <button *ngIf="!accesorioFormGroup.get('id')?.value" mat-raised-button color="primary" [disabled]="!accesorioFormGroup.valid" type="submit">GUARDAR</button>
</mat-card>
</form>

