.example-card {
  min-width: 400px;
  max-width: 650px;
  position: relative;
  top: 85px;
  margin: 0 auto;
  background-color: rgb(241 241 241 / 85%);
}

.example-form {
  min-width: 250px;
  max-width: 650px;
  width: 100%;
}

.example-full-width {
  min-width: 400px;
  max-width: 600px;
  margin: 0 20px;
  width: 100%;
}
button {
  margin: 10px 15px;
}
