<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1  class="h5 mb-0 text-gray-800">Registar Ficha de Mantenimiento</h1>
</div>
<div class="row">
  <div class="col-xl-12 mb-4">

    <form (ngSubmit)="onSubmit()" [formGroup]="fichaFormGroup" novalidate>
      <mat-card>
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <mat-label>Cliente</mat-label>
            <input type="text"
                   placeholder="Nombre"
                   aria-label="Number"
                   matInput
                   formControlName="fk_cliente"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.apellido1}} {{option.nombre1}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Tipo Cliente</mat-label>
            <input matInput placeholder="Ej. domicilio o empresa" formControlName="tipo_cliente">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Ej. Carlo Cerezo" formControlName="codigo" required>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>TDS</mat-label>
            <input matInput placeholder="Ej. 10" formControlName="tds">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <mat-label>PPM</mat-label>
            <input matInput placeholder="Ej. 34" formControlName="ppm" required>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Visitas</mat-label>
            <input matInput placeholder="Ej. 3 meses" formControlName="visitas">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <mat-label>Fecha Comprado</mat-label>
            <input matInput placeholder="Ej. 34" formControlName="fecha_comprado" required>
          </mat-form-field>
        </div>
        <button routerLink="/ficha-tecnica/fichas-tecnicas" mat-raised-button class="mr-2">
          Regresar
        </button>
        <button mat-raised-button color="primary" [disabled]="!fichaFormGroup.valid" type="submit">GUARDAR</button>
      </mat-card>
      </form>

  </div>
</div>

