<blockquote class="blockquote ml-5">
    <h2>Direcciones del cliente</h2>
    <footer class="blockquote-footer">
        Using inline table editing with <i>Angular 8</i> and <i>Asp.Net Core</i>
    </footer>
</blockquote>

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            <div class="td">Provincia</div>
            <div class="td">Canton</div>
            <div class="td">Parroquia</div>
            <div class="td">Sector</div>
            <div class="td">Direccion</div>
            <div class="td">Telf Conv</div>
            <div class="td">
              <button class="btn btn-outline-success" (click)="addOficinaForm()">
                <i class="fa fa-plus">Nueva Oficina</i>
              </button>
            </div>
            <div class="td">
              <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
              </span>
            </div>
        </div>
    </div>
    <div class="tbody">

            <form class="tr" *ngFor="let fg of oficinas(); let i=index" [formGroup]="fg" >
                <div class="td">
                    <select formControlName="fkProvincia" class="form-control">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let item of provincias" value="{{item.id}}">{{item.provincia}}</option>
                    </select>
                </div>
                <div class="td">
                    <input formControlName="fkCanton" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="fkParroquia" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="sector" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="direccion" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="telefono_convencional" class="form-control">
                </div>
                <div class="td">
                <button class="btn"
                    [disabled]="fg.invalid" (click)="recordSubmit(fg)"
                    [ngClass]="(fg.get('id')?.value == 0) ? 'btn-success': 'btn-outline-dark'"
                    >
                    <i class="far fa-save fa-lg"></i>
                    {{fg.get('id')?.value == 0 ? 'Guardar': 'Actualizar'}}
                </button>

                <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id')?.value,i)">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </button>
                </div>

            </form>

    </div>

</div>
