<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="h5 mb-0 text-gray-800">Registar de Cliente Empresarial</h1>
</div>

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            <div class="td">Provincia</div>
            <div class="td">Canton</div>
            <div class="td">Parroquia</div>
            <div class="td">Sector</div>
            <div class="td">Direccion</div>
            <div class="td">Telf Conv</div>
            <div class="td">
              <button class="btn btn-outline-success" (click)="addOficinaForm()">
                <i class="fa fa-plus">Nueva Oficina</i>
              </button>
            </div>
            <div class="td">
              <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
              </span>
            </div>
        </div>
    </div>
    <div class="tbody">

            <form class="tr" *ngFor="let fg of oficinas(); let i=index" [formGroup]="fg" >
                <div class="td">
                    <mat-form-field>
                      <mat-label>Provincia</mat-label>
                      <mat-select formControlName="fkProvincia">
                        <mat-option *ngFor="let item of provincias"  [value]="item.id">{{item.provincia}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="td">
                    <!-- <input formControlName="fkCanton" class="form-control"> -->
                    <mat-form-field>
                      <mat-label>Ciudad</mat-label>
                      <mat-select formControlName="fkCanton">
                        <mat-option *ngFor="let c of ciudades" [value]="c.id">{{c.canton}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="td">
                    <input formControlName="fkParroquia" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="sector" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="direccion" class="form-control">
                </div>
                <div class="td">
                    <input formControlName="telefono_convencional" class="form-control">
                </div>
                <div class="td">
                <button class="btn"
                    [disabled]="fg.invalid" (click)="recordSubmit(fg)"
                    [ngClass]="(fg.get('id')?.value == 0) ? 'btn-success': 'btn-outline-dark'"
                    >
                    <i class="far fa-save fa-lg"></i>
                    {{fg.get('id')?.value == 0 ? 'Guardar': 'Actualizar'}}
                </button>

                <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id')?.value,i)">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </button>
                </div>

            </form>

    </div>

</div>
