<mat-card>
  <button routerLink="/clientes/cliente-natural/" mat-raised-button color="primary" (click)="nuevoCliente()">Nuevo Cliente</button>
</mat-card>
<table mat-table [dataSource]="clientes_naturales_list" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código. </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ruc">
    <th mat-header-cell *matHeaderCellDef> RUC </th>
    <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre1}} {{element.apellido1}} </td>
  </ng-container>

  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
  </ng-container>

  <ng-container matColumnDef="celular">
    <th mat-header-cell *matHeaderCellDef> Celular </th>
    <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
  </ng-container>

  <ng-container matColumnDef="cumple">
    <th mat-header-cell *matHeaderCellDef> Celular </th>
    <td mat-cell *matCellDef="let element"> {{element.cumple}} </td>
  </ng-container>

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> Foto </th>
    <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <!--<button [routerLink]="['/clientes/cliente-natural/', element.cedula]" mat-stroked-button>Editar</button>-->
      <button routerLink="/clientes/cliente-natural/{{element.cedula}}" mat-stroked-button>Editar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


