<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="h5 mb-0 text-gray-800">Clientes Domicilio</h1>
  <a routerLink="/clientes/cliente-natural/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus-circle fa-sm text-white-50"></i> Nuevo Cliente
  </a>
</div>
<div class="row">
  <div class="col-xl-12 col-md-6 mb-4">

    <mat-card>
      <mat-form-field class="col-md-12">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="buscar(texto.value)" #texto>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-card>
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código. </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef> RUC </th>
        <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre1}} {{element.apellido1}} </td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
      </ng-container>

      <ng-container matColumnDef="cumple">
        <th mat-header-cell *matHeaderCellDef> Cumpleaños </th>
        <td mat-cell *matCellDef="let element"> {{element.cumple}} </td>
      </ng-container>

      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element">
          <img class="rounded-circle" [src]="element.foto" height="32px">
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <!--<button [routerLink]="['/clientes/cliente-natural/', element.cedula]" mat-stroked-button>Editar</button>-->
          <button routerLink="/clientes/cliente-natural/{{element.id}}" mat-stroked-button>
            <i class="fas fa-user-edit"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10]">
    </mat-paginator>
  </div>


  </div>
</div>


