<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="h5 mb-0 text-gray-800">Clientes Empresarial</h1>
  <a routerLink="/clientes/master-detail-ce/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus-circle fa-sm text-white-50"></i> Nuevo Cliente Empresarial
  </a>
</div>
<div class="row">
  <div class="col-xl-12 col-md-12 mb-4">

    <mat-card>
      <mat-form-field class="col-md-12">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="buscar(texto.value)" #texto>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-card>
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código. </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef> RUC </th>
        <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}}</td>
      </ng-container>

      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <!--<button [routerLink]="['/clientes/cliente-natural/', element.cedula]" mat-stroked-button>Editar</button>-->
          <button class="mr-2" mat-stroked-button color="primary" (click)="ver(element.id)">Ver</button>
          <button [routerLink]="['/clientes/clientes-empresarial-oficina', element.id]" mat-stroked-button>Direcciones</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 50]">
    </mat-paginator>
  </div>


  </div>
</div>


