<form novalidate #formFiltracion="ngForm" (submit)="onSubmit(formFiltracion)" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.id" >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Filtracion</label>
            <input class="form-control form-control-lg" placeholder="Tipo Filtracion"
            name="fk_filtracion" #fk_filtracion="ngModel" [(ngModel)]="service.formData.fk_filtracion"
            required>
        </div>
        <div class="form-group col-md-6">
            <label>Valor Filtracion</label>
            <input class="form-control form-control-lg" placeholder="Tipo Filtracion"
            name="valor_filtracion" #valor_filtracion="ngModel" [(ngModel)]="service.formData.valor_filtracion"
           required [class.invalid]="valor_filtracion.invalid && valor_filtracion.touched" >
        </div>
    </div>
    <div class="form-group">
    <label>Descripcion</label>
         <textarea class="form-control form-control-lg" placeholder="Tipo Filtracion"
         name="descripcion" #descripcion="ngModel" [(ngModel)]="service.formData.descripcion"
         required maxlength="600" minlength="4"
         [class.invalid]="descripcion.invalid && descripcion.touched"
         ></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="formFiltracion.invalid">Guardar</button>
    </div>
</form>
