<form autocomplete="off" #detalleHCF = "ngForm" (submit)="onSubmit(detalleHCF)" novalidate>
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">
  <input type="hidden" name="fk_hoja_control" #fk_hoja_control="ngModel" [(ngModel)]="formData.fk_hoja_control">

  <div class="form-row">
    <div class="form-group col-md-6" >
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">#</div>
        </div>
        <input  placeholder="No Factura" class="form-control" name="factura" #factura="ngModel" [(ngModel)]="formData.factura">
      </div>
    </div>

    <div class="form-group col-md-6">
      <input placeholder="Fecha de Mantenimiento"  class="form-control" name="fecha_mantenimiento" #fecha_mantenimiento="ngModel" [(ngModel)]="formData.fecha_mantenimiento">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input placeholder="Recibo"  class="form-control" name="recibo" #recibo="ngModel" [(ngModel)]="formData.recibo">
    </div>


    <div class="form-group col-md-6">
      <input placeholder="Ficha Tecnica"  class="form-control" name="hoja_control" #hoja_control="ngModel" [(ngModel)]="formData.hoja_control">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <input placeholder="TDS"  class="form-control" name="tds" #tds="ngModel" [(ngModel)]="formData.tds">
    </div>


    <div class="form-group col-md-6">
      <input placeholder="PPM"  class="form-control" name="ppm" #ppm="ngModel" [(ngModel)]="formData.ppm">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <textarea cols="2" placeholder="Descripcion"  class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="formData.descripcion"></textarea>
    </div>

    <div class="form-group col-md-6">
      <input placeholder="Persona que autoriza"  class="form-control" name="persona_autoriza" #persona_autoriza="ngModel" [(ngModel)]="formData.persona_autoriza">
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input placeholder="Firma que autoriza"  class="form-control" name="firma_url" #firma_url="ngModel" [(ngModel)]="formData.firma_url">
    </div>

    <div class="form-group col-md-6">
      <input placeholder="Cedula que Autoriza"  class="form-control" name="cedula_autoriza" #cedula_autoriza="ngModel" [(ngModel)]="formData.cedula_autoriza">
    </div>

  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <input placeholder="Quien dio mantenimiento"  class="form-control" name="persona_dio_mantenimiento" #persona_dio_mantenimiento="ngModel" [(ngModel)]="formData.persona_dio_mantenimiento">
    </div>

    <div class="form-group col-md-6">
      <input placeholder="Cedula Dio Mantenimiento"  class="form-control" name="cedula_dio_mantenimiento" #cedula_dio_mantenimiento="ngModel" [(ngModel)]="formData.cedula_dio_mantenimiento">
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Guardar</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Cerrar</button>
  </div>
</form>