<form autocomplete="off" #detalleFTF = "ngForm" (submit)="onSubmit(detalleFTF)" novalidate>
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">
  <input type="hidden" name="fk_ficha_tecnica" #fk_ficha_tecnica="ngModel" [(ngModel)]="formData.fk_ficha_tecnica">

  <div class="form-row">
    <div class="form-group col-md-6" >
        <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">#</div>
        </div>
        <input  placeholder="No Factura" class="form-control" name="factura" #factura="ngModel" [(ngModel)]="formData.factura">
      </div>
    </div>

    <div class="form-group col-md-6">
        <input placeholder="Fecha de Mantenimiento"  class="form-control" name="fecha_mantenimiento" #fecha_mantenimiento="ngModel" [(ngModel)]="formData.fecha_mantenimiento">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input placeholder="Recibo"  class="form-control" name="recibo" #recibo="ngModel" [(ngModel)]="formData.recibo">
    </div>


    <div class="form-group col-md-6">
      <input placeholder="Ficha Tecnica"  class="form-control" name="ficha_tecnica" #ficha_tecnica="ngModel" [(ngModel)]="formData.ficha_tecnica">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
      <textarea cols="2" placeholder="Descripcion"  class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="formData.descripcion"></textarea>
  </div>

  <div class="form-group col-md-6">
    <input placeholder="Persona que recepta"  class="form-control" name="persona_recepta" #persona_recepta="ngModel" [(ngModel)]="formData.persona_recepta">
  </div>

</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <input placeholder="Firma"  class="form-control" name="firma_url" #firma_url="ngModel" [(ngModel)]="formData.firma_url">
  </div>

  <div class="form-group col-md-6">
    <input placeholder="Cedula Receptor"  class="form-control" name="cedula_receptor" #cedula_receptor="ngModel" [(ngModel)]="formData.cedula_receptor">
  </div>

</div>


<div class="form-row">
  <div class="form-group col-md-6">
    <input placeholder="Quien dio mantenimiento"  class="form-control" name="persona_dio_mantenimiento" #persona_dio_mantenimiento="ngModel" [(ngModel)]="formData.persona_dio_mantenimiento">
  </div>

  <div class="form-group col-md-6">
    <input placeholder="Cedula Dio Mantenimiento"  class="form-control" name="cedula_dio_mantenimiento" #cedula_dio_mantenimiento="ngModel" [(ngModel)]="formData.cedula_dio_mantenimiento">
  </div>

</div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Guardar</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Cerrar</button>
  </div>
</form>
